# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>Create orders lists in jupyter notebooks</li>
    <li>Create tables in jupyter notebooks</li>
    <li>Perform simpe arithmetic operations jupyter notebooks</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Pandas</li>
  <li>Numpy</li>
  <li>Matplotlib</li>
</ol>

| Data Science Tools | 
| --- |
| Jupyter Notebooks | 
| RStudio | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(str(hours) + "Hrs")

3.3333333333333335Hrs

## Author
Tony Chisenga